# ==========================================
# Artifacts de Build Java / Maven / Gradle
# ==========================================
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

# ==========================================
# Node.js / CSS (Tailwind, etc.)
# ==========================================
node_modules/
.npm
*.log

# ==========================================
# IDEs & Éditeurs de code
# ==========================================
# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# ==========================================
# Fichiers Système & OS
# ==========================================
.DS_Store
Thumbs.db